<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <title>Index</title>
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script type="text/javascript" src="main.js"></script>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="main.css"/>
</head>
<body ng-app='main'>
<div ng-controller='main as mainCtrl '>
  <table id='devtable' class="table">
    <thead>
      <tr>
        <th ng-repeat="h in mainCtrl.devkeys">{{h}}</th>
      </tr>
    </thead>

    <tr ng-repeat="dev in mainCtrl.devices">
      <td class='deviceField' ng-repeat="key in mainCtrl.devkeys">
        {{dev[key]}}
      </td>
    </tr>
  </table>
<div>
</body>
</html>
