/*Main*/

#main {
  height: 100%;  
}

.deviceField {
  vertical-align: middle !important; 
}

#addDeviceButton {
  position: fixed;
  right: 0px;
  bottom:0px;
  margin: 10px;
}

.removeDeviceButton:hover {
  color:red;
  cursor:pointer;
}

/*Add Device Dialog*/

#addDeviceDialog { /*Container*/
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#addDeviceDialog button {
  float:right;
  margin-top: 30px;
}


/* Other */

.modal {
  z-index: 10000;
}

.glyphicon {
  font-size: 2em;
}

body {
  height: 100%;
  width: 100%;
}
