<div  id='addDeviceDialog' ng-controller='addDevice as c'>
  <form id='newDevice'>
  <div ng-repeat='field in c.deviceSchema'>
    <label for='{{field}}'>{{field}}</label>
    <input class='form-control' ng-model='c.device[field]' 
           type="text">
    </input>
  </div>
  <button ng-click='c.addDevice(c.device)' 
          type='submit' 
          class='btn btn-default'>Submit</button>
  <form>
  <a ui-sref='main'>Back</a>
</div>
