<div id='main' ng-controller='main as mainCtrl'>
  <table id='devtable' class="table">
    <thead>
      <tr>
        <th></th>
        <th ng-repeat="h in mainCtrl.devkeys">{{h}}</th>
      </tr>
    </thead>

    <tr ng-repeat="dev in globals.devices">
      <td ng-click="mainCtrl.removeDevice(dev.id)" 
          class="glyphicon glyphicon-remove-circle removeDeviceButton">
      </td>
      <td class='deviceField' ng-repeat="key in mainCtrl.devkeys">
        {{dev[key]}}
      </td>
    </tr>
  </table>

  <a ui-sref='addDevice'>
  <div id='addDeviceButton'>
    <span  class='glyphicon glyphicon-plus'></span>
  </div>
  </a>

  
</div>
